@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://account.activedirectory.windowsazure.com/applications/testfedaratedapplication.aspx?servicePrincipalId=1e87d63d-4457-4dc8-bf71-2d45f4c79fda&tenantId=df950190-21a4-4090-9a02-7bb4a5471d57">Login</a>.</p>
</div>