@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://login.microsoftonline.com/df950190-21a4-4090-9a02-7bb4a5471d57/federationmetadata/2007-06/federationmetadata.xml?appid=3481b6f4-dc34-4bab-b7b6-8b5cc638a9f1">Login</a>.</p>
</div>